* {
    box-sizing: border-box;
}

    
h1 {
    color:orange;
}

.div-wrap{
    max-width: 300px ;
    background-color: black;
    margin-bottom: 100px;
    padding-bottom: 15px;
    border-radius: 8px;
    border-top-color: grey;
    border-left-color: grey;
    border-bottom-color: lightgrey;
    border-right-color: lightgrey;
    border-style: ridge;
    border-width: thin;
}
.title {
    vertical-align: middle;
    display: inline-block;
    margin-left: 55px;
}

.screen{
    border: .125rem solid goldenrod;
    margin-left: 55px;
    max-width: 200px;
    background-color: grey;
    border-radius: 5px;
}

#calc-screen {
    color: cornsilk;
    text-align: right;
    padding-right: 5px;
}
.nums {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: cornsilk;
    padding: 10px;
    border: .125rem solid rgb(150, 150, 138);
    background-color: rgb(54, 54, 52);
    text-align: center;
    font-size: 1.5rem;
    border-radius: 50%;
    vertical-align: middle;
    line-height: normal;
    margin: 1px 1px;
    cursor: pointer;
}

.nums:hover{
    transform: scale(1.08);
}

.calcs {
    border-color: goldenrod;
}

.special {
    border-color: black;
    background-color: black;
}

#equal-sym {
 width: 160px;
}